 
 :root{
    --second-color:#8c6e4a;
    --color-degradient: rgba(199, 173, 86, 0.5);
    --color-degradient2: rgb(4, 49, 6);
    --blancos:white;
 }
 
 
 *{ 
    box-sizing: border-box;
}
html, body{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



.navbar-toggler{
    padding:0 ;
}

.dropdown-item, a{
    text-decoration:none ;
    transition: 0.3s;
}
 .dropdown-item:hover, a:hover{
    background-color: var(--second-color);
}
.section1 {
   
        background: url("../assets/v2[1].jpg") center center / cover no-repeat;
        height: 100vh; /
        
}

.section1, .malla {
    background-color: var(--color-degradient); /* negro con 40% transparencia */
}

.contactFormDiv{
    height: 100vh;
    
}
.main-header {
  height: 3.5rem; /* altura estándar del navbar Bootstrap */
}
.imagen{
    padding: 0;
    text-align: center;
   
}


 section{
    height: 100vh;
 }
.titulo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section2{
display: flex;
justify-content: center;
align-items: center;

padding: 3rem;
}

.img-sec2{
    border-top-left-radius: 15rem;
    border-top-right-radius: 15rem;
   
    height: 50%;
}

.texto2{
    text-align: start;
}




.btn-section2{
    border-color: var(--second-color);
    color: var(--second-color);
}
.btn3{
border-color: var(--blancos);
color: var(--blancos);
}

.section2{
    height: 100vh;
}

.section3{
    background-image: url(../assets/VINO\ ROCA\ mejor22[1].jpg) ;
    background-size: cover; /* o 'contain', 'auto', o un tamaño específico */
    background-repeat: no-repeat; /* Evita que se repita */
    background-position: center; 
}


 .mitad1{
    
    background-color: var(--color-degradient);
   padding: 40px;
}

.card-img-top {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

.mainContact{
    height: calc(100vh - 3rem);
}

.sabores{
    background-color: var(--color-degradient2);
}
  a{
    text-decoration: none;
    color: black;
  }
  
@media  (max-width:500px){
    .divvvvv {
        gap: 30px;
    }
    
    
}



@media  (max-width:992px){
    .imagen {
        display:none;
    }
    
}



/*verde oscuro, rojo, negro */ 

